ul {
  list-style-type: none;
  margin: 0px;
  padding:0px;
  overflow: hidden;
  background-color: black;
  position: sticky;
}

li {
  float: left;
  font-size: 18px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16.51px;
  text-decoration: none;
  font-family: "times new roman";

}
ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16.51px;
  text-decoration: none;
}

.active {
  background-color: #4CAF50;
}
.footer-main-div{
width: 100%;
height: auto;
margin: 0px;
background: black;
padding: 0px 0px;
text-align: center;
}  
.footer-menu-one{
width:100%;
height:auto;
margin:auto;
margin-top: 30px;

text-align: center;
}
.footer-menu-one ul{
margin: 0px;
padding: 0px;
text-align: center;
}
.footer-menu-one ul li{
  display: inline-block;
  margin: 0px 130px;
  text-align: center;
}
.footer-menu-one ul li a{ 
  font-family: arial;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;

}
.footer-bottom{

  width: 100%;
  height: auto;
  margin: auto;
  background: black;
  padding: 100px;

}
.footer-bottom{

font-family: arial;
font-size: 14px;
text-align:center;
color:black;
font-weight: 600;
letter-spacing: 1px;

}
.footer-bottom p a{
  color:black;
} 

.button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #4CAF50;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 5px;
    transition: all 0.5s;
  cursor: pointer;


}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  width: 22%;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 35px;
}

.button:hover span:after {
text-decoration-color: #FFFFFF;
  opacity: 1;
  right: 0;
}
